<div class="center" flex-gt-xs="50" flex>
    <md-card>
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">Welcome to the HydroZone!</span>
                <span class="md-subhead">Two Zones Enter, One Zone Leaves (well-hydrated)!</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <form name="apiTokenForm">
                <md-input-container class="md-block">
                    <label>Rachio API Token</label>
                    <input
                        id="apiToken"
                        name="token"
                        type="text"
                        ng-model="vm.apiToken"
                        ng-pattern="vm.regex"
                        required>
                    <div ng-messages="apiTokenForm.token.$error" role="alert">
                        <div ng-hide="apiTokenForm.token.$valid" ng-message="pattern">API Key is Invalid</div>
                    </div>
                </md-input-container>
                <md-button id="submitToken" class="md-raised md-primary" type="submit" ng-disabled="apiTokenForm.token.$invalid" ng-click="vm.submit()">
                    Submit
                </md-button>
                <md-button id="clearToken" class="md-raised md-warn" type="reset" ng-click="vm.apiToken=''">
                    Clear
                </md-button>
            </form>
        </md-card-content>
    </md-card>
</div>
